li{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.tarefas{
  margin-top: 2rem;
  
}

.buttons{
  width: 1000px;
  margin: 0 auto;
}

.closeButton{
  cursor: pointer;
  width: 1.2rem;
  height: 2rem;
  margin-right: 8px;
  color: rgb(255, 86, 86)
}

.editButton{
  cursor: pointer;
  width: 1.2rem;
  height: 2rem;
  color: rgb(149, 255, 255);
}